.container {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
}

/* circle */

.loader {
  height: 250px;
  width: 250px;
  border: 12px solid #e3e3e3;
  border-radius: 50%;
  border-color: #000;
  animation: fadeinout 5s ease;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* logo */

.logo {
  background: url(./img/aartas.png) center no-repeat;
  background-size: contain;
}
